.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: #000;
        font-size: 25px;
      }

      .left {
        flex: 1;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .formInput {
            width: 40%;

            label {
              font-size: 20px;
            }

            input {
              width: 100%;
              font-size: 18px;
              padding: 5px;
              border: none;
              border-bottom: 1px solid #000;
            }
          }

          .create {
            width: 150px;
            border: none;
            background-color: teal;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
            color: #fff;
          }
        }
        .back {
          width: 150px;
          padding: 22px;
          border: none;
          background-color: crimson;
          border-radius: 10px;
          font-weight: bold;
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
}
